version: '3'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    container_name: flask-backend

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    container_name: node-frontend
    depends_on:
      - backend